<p id="notice"><%= notice %></p>

<h1>User Daily Logs</h1>

<table>
  <thead>
    <tr>
      <th>Log date</th>
      <th>Logtime</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_daily_logs.each do |user_daily_log| %>
      <tr>
        <td><%= user_daily_log.log_date %></td>
        <td><%= user_daily_log.logtime %></td>
        <td><%= user_daily_log.remarks %></td>
        <td><%= link_to 'Show', user_daily_log %></td>
        <td><%= link_to 'Edit', edit_user_daily_log_path(user_daily_log) %></td>
        <td><%= link_to 'Destroy', user_daily_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Daily Log', new_user_daily_log_path %>
